.wrapper {
  font-family: "Roboto", sans-serif;
  width: 100vh;

  display: flex;
  justify-content: center;

  background-image: url(../../../public/img/bg-login-img.jpg) !important;
  background-size: auto;

  position: relative;

  .card-body {
    max-height: 80%;

    h3 {
      color: #000 !important;
    }

    .text-center {
      display: flex;
      justify-content: center;
    }

    p {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
    }
  }
}
