#button-addon1 {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

.display-3 {
  font-family: "Sanchez", serif;
}

p {
  font-family: "Tajawal", sans-serif;
}

.lead {
  font-family: "Sanchez 200", serif;
}

.list-inline-item {
  margin-right: 10px !important;
}
.list-inline-item a .fa {
  font-size: 30px;
  color: #0000cc;
}
